n8n/fluxo-n8n.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/webhook/7ab5d664-349d-4ad2-84f1-23da3b2df1a7/webhook",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2704,
        144
      ],
      "id": "94d8922a-d802-42f6-9fd2-9e492fc6f9d9",
      "name": "Webhook",
      "webhookId": "202e25de-310d-4001-bdbd-2520da68de5c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3rBaJq0jL2hLih4A",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Nessa ferramenta temos os Procedimento e Áreas de Aplicação com seus Valores e Valores de Oferta em R$ (Real)",
        "documentId": {
          "__rl": true,
          "value": {},
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1667361004,
          "mode": "list",
          "cachedResultName": "Preços Gerais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lZrtlFpEcbzVT5UfNXcs9wpP-v1YwNE5JnaLfvxA-VA/edit#gid=1667361004"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        5280,
        336
      ],
      "id": "98f5be10-db11-43b0-b2b6-868c78adbb6e",
      "name": "Tabela de Preços"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "PAIZPk6Yh1l2zQON",
          "mode": "list",
          "cachedResultName": "Atendimento Nova Forge",
          "cachedResultUrl": "/projects/GvKfk2Y7L7rLi2zA/datatables/PAIZPk6Yh1l2zQON"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "keyValue": "={{ $json.session_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $json.session_id }}",
            "ultima_pergunta_contato": "={{ $json.input }}"
          },
          "matchingColumns": [
            "sessionId"
          ],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "nome_completo",
              "displayName": "nome_completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "interesse",
              "displayName": "interesse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "historico_tratamento",
              "displayName": "historico_tratamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "data_agendamento",
              "displayName": "data_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "agendamento_id",
              "displayName": "agendamento_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ultima_pergunta_contato",
              "displayName": "ultima_pergunta_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ultima_resposta_ia",
              "displayName": "ultima_resposta_ia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3104,
        144
      ],
      "id": "e9366b21-c9af-4f45-aae3-85908332dd6a",
      "name": "Criar/atualizar sessionId"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "PAIZPk6Yh1l2zQON",
          "mode": "list",
          "cachedResultName": "Atendimento Nova Forge",
          "cachedResultUrl": "/projects/GvKfk2Y7L7rLi2zA/datatables/PAIZPk6Yh1l2zQON"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "keyValue": "={{ $('Define:Mensagem e Session_id').first().json.session_id }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3280,
        144
      ],
      "id": "5d7fa56d-69a6-4e04-a33d-32da2f834b8b",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "PAIZPk6Yh1l2zQON",
          "mode": "list",
          "cachedResultName": "Atendimento Nova Forge",
          "cachedResultUrl": "/projects/GvKfk2Y7L7rLi2zA/datatables/PAIZPk6Yh1l2zQON"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "keyValue": "={{ $('Define:Mensagem e Session_id').first().json.session_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome_completo": "={{ $('Information Extractor').first().json.output.nome_completo || $('Get row(s)').first().json.nome_completo }}",
            "interesse": "={{ $('Information Extractor').first().json.output.interesse || $('Get row(s)').first().json.interesse }}",
            "historico_tratamento": "={{ $('Information Extractor').first().json.output.historico_tratamento || $('Get row(s)').first().json.historico_tratamento }}",
            "data_agendamento": "={{ $('Information Extractor').first().json.output.data_agendamento || $('Get row(s)').first().json.data_agendamento || null }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "nome_completo",
              "displayName": "nome_completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "interesse",
              "displayName": "interesse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "historico_tratamento",
              "displayName": "historico_tratamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data_agendamento",
              "displayName": "data_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "agendamento_id",
              "displayName": "agendamento_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ultima_pergunta_contato",
              "displayName": "ultima_pergunta_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ultima_resposta_ia",
              "displayName": "ultima_resposta_ia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        4368,
        144
      ],
      "id": "092e176a-8046-4848-8b50-8e6f9a9f8bd2",
      "name": "AtualizaVariaveisExtrator"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "PAIZPk6Yh1l2zQON",
          "mode": "list",
          "cachedResultName": "Atendimento Nova Forge",
          "cachedResultUrl": "/projects/GvKfk2Y7L7rLi2zA/datatables/PAIZPk6Yh1l2zQON"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "keyValue": "={{ $('Define:Mensagem e Session_id').first().json.session_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ultima_resposta_ia": "={{ $('AI Agent - Respostas').first().json.output }}",
            "ultima_pergunta_contato": "={{ $('Define:Mensagem e Session_id').first().json.input }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "nome_completo",
              "displayName": "nome_completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "interesse",
              "displayName": "interesse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "historico_tratamento",
              "displayName": "historico_tratamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "data_agendamento",
              "displayName": "data_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "agendamento_id",
              "displayName": "agendamento_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ultima_pergunta_contato",
              "displayName": "ultima_pergunta_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ultima_resposta_ia",
              "displayName": "ultima_resposta_ia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        5056,
        144
      ],
      "id": "a71d0682-1058-449b-a9fe-e085bb6199d9",
      "name": "AtualizaPerguntaResposta"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "PAIZPk6Yh1l2zQON",
          "mode": "list",
          "cachedResultName": "Atendimento Nova Forge",
          "cachedResultUrl": "/projects/GvKfk2Y7L7rLi2zA/datatables/PAIZPk6Yh1l2zQON"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "keyValue": "={{ $('Define:Mensagem e Session_id').first().json.session_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "agendamento_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('agendamento_id', `Atualiza o campo \"agendamento_id\" com  o id obtido da criação do evento.`, 'string') }}",
            "data_agendamento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_agendamento', `Insere a Data de Agendamento criada no formato ISO 8601 (ex: 2026-01-15T10:00:00Z). Deve ser uma data futura.`, 'dateTime') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "nome_completo",
              "displayName": "nome_completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "interesse",
              "displayName": "interesse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "historico_tratamento",
              "displayName": "historico_tratamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "data_agendamento",
              "displayName": "data_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "agendamento_id",
              "displayName": "agendamento_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ultima_pergunta_contato",
              "displayName": "ultima_pergunta_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ultima_resposta_ia",
              "displayName": "ultima_resposta_ia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        4704,
        352
      ],
      "id": "5036361a-584c-4671-9905-b10e55a6fafd",
      "name": "Data table Update",
      "notesInFlow": false,
      "notes": "ESSENCIAL: Use esta ferramenta IMEDIATAMENTE após usar 'Cria Evento' para salvar o ID do agendamento. Sem isso, o sistema perderá o agendamento. Parâmetros: agendamento_id (o ID retornado pela criação) e data_agendamento."
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "PAIZPk6Yh1l2zQON",
          "mode": "list",
          "cachedResultName": "Atendimento Nova Forge",
          "cachedResultUrl": "/projects/GvKfk2Y7L7rLi2zA/datatables/PAIZPk6Yh1l2zQON"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "keyValue": "={{ $('Define:Mensagem e Session_id').first().json.session_id }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        4880,
        144
      ],
      "id": "a0f21d41-f946-4c26-8080-1081eb6a6449",
      "name": "Get row(s)1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').first().json.body.controlia.conversation_id }}_assistente",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3936,
        352
      ],
      "id": "ba83366a-f704-4549-be5a-07906011c1d1",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "text": "=Mensagem atual do usuário: {{ $('Define:Mensagem e Session_id').first().json.input }}",
        "attributes": {
          "attributes": [
            {
              "name": "nome_completo",
              "description": "Nome completo do paciente com 2 ou mais palavras."
            },
            {
              "name": "historico_tratamento",
              "description": "Situação atual do projeto: \"Ideia do zero\", \"Sistema legado\", \"Refatoração\", \"Primeira vez contratando\"..."
            },
            {
              "name": "interesse",
              "description": "O tipo de solução tecnológica buscada (ex: App, Sistema Web, Automação, IA, Chatbot)."
            },
            {
              "name": "data_agendamento",
              "type": "date",
              "description": "Extraia datas futuras mencionadas para reunião."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "={{ $json.prompt_text }}\n\n## Dados Atuais do Contato\n\nNome do contato: {{ $('Webhook').first().json.body.message.from.first_name }}\n\n### Status atual de cada informação:\n\n- Nome Completo: {{ $('Get row(s)').first().json.nome_completo }}\n- Histórico de Tratamento: {{ $('Get row(s)').first().json.historico_tratamento }}\n- Interesse: {{ $('Get row(s)').first().json.interesse }}\n- Data de Agendamento: {{ $('Get row(s)').first().json.data_agendamento }}\n\n## Contexto da Conversa:\n\n### REFERÊNCIA TEMPORAL (IMPORTANTE):\nHoje é: {{ $now.setZone('America/Sao_Paulo').setLocale('pt-BR').toFormat(\"cccc, dd 'de' MMMM 'de' yyyy\") }}\nUse esta data como base para calcular qualquer termo relativo (ex: \"amanhã\", \"segunda-feira\").\n\n- Última pergunta feita: {{ $('Get row(s)').first().json.ultima_pergunta_contato }}\n- Última resposta dada ao paciente: {{ $('Get row(s)').first().json.ultima_resposta_ia }}\n\n- Data/Hora Atual da conversa: {{ $now.setLocale('pt-BR').toFormat('cccc') }}, {{ $now.setZone('America/Sao_Paulo').setLocale('pt-BR').toFormat(\"dd 'de' LLLL 'de' yyyy HH:mm'hrs'\") }}\n\n### INSTRUÇÃO CRÍTICA DE OUTPUT:\nRetorne APENAS o objeto JSON válido, sem markdown, sem code blocks (```), sem explicações adicionais.\nApenas o objeto JSON puro, diretamente, sem formatação markdown.\n\nPara o campo data_agendamento, sempre retorne no formato ISO 8601 (ex: 2026-01-15T10:00:00Z) se houver uma data mencionada.\nSe não houver data mencionada, não inclua o campo ou retorne null."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        4048,
        144
      ],
      "id": "b4d2940c-c7fb-49c5-b4fe-85901fc1abb0",
      "name": "Information Extractor",
      "executeOnce": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://controliaa.vercel.app/api/webhooks/n8n/channel-response",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5472,
        144
      ],
      "id": "864cdb5b-a831-4e42-8cd0-d9466fac742f",
      "name": "HTTP Request (Enviar Resposta)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85de3930-14ce-48a5-9e78-b68ac68f9f75",
              "name": "input",
              "value": "={{ $json.body.message.text }}",
              "type": "string"
            },
            {
              "id": "cbb5e494-7253-4f18-967f-0f97ef6d3079",
              "name": "session_id",
              "value": "={{ $json.body.controlia.conversation_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2896,
        144
      ],
      "id": "dcc541b0-0ab6-4826-b187-c91b0a2e1c2b",
      "name": "Define:Mensagem e Session_id"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "ai_prompts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "fe5c1cb7-bc87-4922-9736-8ca6b83ae613"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3472,
        144
      ],
      "id": "b33b7ff6-a24b-41b9-919b-bf07ed670f83",
      "name": "#Prompt IA de Atendimento e Triagem",
      "credentials": {
        "supabaseApi": {
          "id": "MJeuWnGfcHw2J9Ll",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Defina aqui a ordem desejada dos IDs\nconst ordemDesejada = ['fe5c1cb7-bc87-4922-9736-8ca6b83ae613'];\n\nconst concatenado = ordemDesejada\n  .map(id => {\n    const item = items.find(i => i.json.id === id);\n    // CORREÇÃO AQUI: Mudamos de .content_prompt para .prompt_text\n    return item ? item.json.prompt_text : null;\n  })\n  .filter(Boolean) // remove nulos\n  .join('\\n');\n\nreturn [\n  {\n    json: {\n      content_prompt_concatenado: concatenado\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3664,
        144
      ],
      "id": "df8f13f7-173c-486a-bf3f-142e936b308c",
      "name": "Concatenador #IA de Atendimento e Triagem"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "ai_prompts",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "c0827f59-1ff5-4de8-924e-4c16504a5d10"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3856,
        144
      ],
      "id": "3be53a98-3065-4b6f-b864-2d59d9e8819c",
      "name": "#Prompt Extração de Dados",
      "credentials": {
        "supabaseApi": {
          "id": "MJeuWnGfcHw2J9Ll",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obter dados do webhook original\nconst webhookData = $('Webhook1').first().json.body || $('Webhook1').first().json;\nconst controlia = webhookData.controlia || {};\nconst message = webhookData.message || {};\n\n// Obter resposta da IA\nconst output = $('AI Agent - Respostas').first().json.output;\n\n// Obter dados da linha do DataTable\nconst rowData = $('Get row(s)1').first().json || {};\n\n// Preparar campos customizados para atualizar (só incluir se não forem null/undefined)\nconst customFields = {};\nif (rowData.interesse) customFields.interesse = rowData.interesse;\nif (rowData.historico_tratamento) customFields.historico_tratamento = rowData.historico_tratamento;\nif (rowData.data_agendamento) customFields.data_agendamento = rowData.data_agendamento;\n\n// Retornar payload completo\nreturn {\n  // Resposta da IA que será enviada ao canal (Telegram, WhatsApp, etc.)\n  output: output,\n  \n  // Dados do Controlia (obrigatórios - já vêm do webhook original)\n  controlia: {\n    company_id: controlia.company_id,\n    contact_id: controlia.contact_id,\n    conversation_id: controlia.conversation_id,\n    message_id: controlia.message_id,\n    channel: controlia.channel || 'telegram',\n    channel_id: controlia.channel_id || message.chat?.id?.toString()\n  },\n  \n  // Dados da mensagem original (opcional, mas recomendado)\n  message: {\n    from: message.from || controlia.message?.from,\n    chat: message.chat || controlia.message?.chat\n  },\n  \n  // ✅ Campos customizados para atualizar no contato (só se houver valores)\n  ...(Object.keys(customFields).length > 0 ? { custom_fields: customFields } : {})\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5264,
        144
      ],
      "id": "5e2cdb0b-f6cd-40e2-bc94-a0c6adfca709",
      "name": "Prepare Response Data"
    },
    {
      "parameters": {
        "toolDescription": "Verifica a disponibilidade da agenda em um período específico. \nRetorna todos os eventos agendados no intervalo de datas informado.\nUse esta ferramenta ANTES de criar ou atualizar qualquer evento para garantir que não haja conflitos de horário.\n\nIMPORTANTE: \n- Se o usuário mencionar uma data/hora específica, a ferramenta usará essa data.\n- Se o usuário não mencionar uma data, a ferramenta usará automaticamente a data/hora atual de São Paulo (fuso horário America/Sao_Paulo).\n- A ferramenta busca eventos nos próximos 360 horas (15 dias) a partir da data de referência.",
        "url": "https://controliaa.vercel.app/api/calendar/events",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "start",
              "value": "={{ ($('Get row(s)1').first().json.data_agendamento || $('AtualizaVariaveisExtrator').first().json.data_agendamento) ? DateTime.fromISO($('Get row(s)1').first().json.data_agendamento || $('AtualizaVariaveisExtrator').first().json.data_agendamento).toUTC().toISO() : $now.setZone('America/Sao_Paulo').toUTC().toISO() }}"
            },
            {
              "name": "end",
              "value": "={{ ($('Get row(s)1').first().json.data_agendamento || $('AtualizaVariaveisExtrator').first().json.data_agendamento) ? DateTime.fromISO($('Get row(s)1').first().json.data_agendamento || $('AtualizaVariaveisExtrator').first().json.data_agendamento).plus({ hours: 360 }).toUTC().toISO() : $now.setZone('America/Sao_Paulo').plus({ hours: 360 }).toUTC().toISO() }}"
            },
            {
              "name": "status",
              "value": "scheduled"
            },
            {
              "name": "company_id",
              "value": "={{ $('Webhook1').first().json.body.controlia.company_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpoY3N5cHVkcHd3Zmxjb3J5Zm1xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0MjIzMTMsImV4cCI6MjA4MTk5ODMxM30.rguJ34eShUCSKKBWuy8bBS7bSxuC5mCeRnXych0LGKM"
            },
            {
              "name": "x-company-id",
              "value": "={{ $('Webhook1').first().json.body.controlia.company_id }}"
            },
            {
              "name": "x-company-id",
              "value": "={{ $('Webhook1').first().json.body.controlia.company_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        4080,
        352
      ],
      "id": "850fa2d6-c0a3-4ba8-9889-09ae1a090c57",
      "name": "Busca Disponibilidades",
      "rewireOutputLogTo": "ai_tool"
    },
    {
      "parameters": {
        "toolDescription": "Atualiza um evento existente no calendário.\nIMPORTANTE: \n1. Sempre use \"Busca Disponibilidades\" ANTES de atualizar para verificar se o novo horário está disponível.\n2. Você precisa do ID do evento (agendamento_id) que está armazenado na DataTable.\n3. Você precisa ter uma nova data de agendamento (campo data_agendamento da DataTable).\n4. Se não houver agendamento_id ou data_agendamento, informe ao usuário e ofereça criar um novo evento.\n5. O evento terá duração de 1 hora a partir da nova data de início.",
        "method": "PATCH",
        "url": "=https://controliaa.vercel.app/api/calendar/events/{{ $('Get row(s)1').first().json.agendamento_id || $('AtualizaVariaveisExtrator').first().json.agendamento_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpoY3N5cHVkcHd3Zmxjb3J5Zm1xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0MjIzMTMsImV4cCI6MjA4MTk5ODMxM30.rguJ34eShUCSKKBWuy8bBS7bSxuC5mCeRnXych0LGKM"
            },
            {
              "name": "x-company-id",
              "value": "={{ $('Webhook1').first().json.body.controlia.company_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"company_id\": \"{{ $('Webhook1').first().json.body.controlia.company_id }}\",\n  \"title\": \"Consulta com {{ $('Get row(s)1').first().json.nome_completo || 'Cliente' }}\",\n  \"description\": \"Para tratar sobre {{ $('Get row(s)1').first().json.interesse || 'consulta' }}\",\n  \"start_at\": \"{{ $('Get row(s)1').first().json.data_agendamento }}\",\n  \"end_at\": \"{{ ($('Get row(s)1').first().json.data_agendamento) ? DateTime.fromISO($('Get row(s)1').first().json.data_agendamento).plus({ hours: 1 }).toUTC().toISO() : DateTime.now().setZone('America/Sao_Paulo').plus({ hours: 1 }).toUTC().toISO() }}\",\n  \"is_all_day\": false,\n  \"location\": \"Clínica\",\n  \"contact_id\": \"{{ $('Webhook1').first().json.body.controlia.contact_id }}\",\n  \"visibility\": \"company\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        4400,
        352
      ],
      "id": "fa5bdc36-03b1-44ef-9643-0ca03c3ed44c",
      "name": "Atualiza Eventos"
    },
    {
      "parameters": {
        "toolDescription": "Cria um novo evento no calendário da empresa.\nIMPORTANTE: \n1. Sempre use \"Busca Disponibilidades\" ANTES de criar um evento para verificar se o horário está livre.\n2. Você precisa ter uma data de agendamento válida (campo data_agendamento da DataTable).\n3. Se não houver data_agendamento, pergunte ao usuário quando deseja agendar.\n4. Após criar o evento com sucesso, salve o ID retornado no campo \"agendamento_id\" da DataTable usando a tool \"Data table Update\".\n5. O evento terá duração de 1 hora a partir da data de início.",
        "method": "POST",
        "url": "https://controliaa.vercel.app/api/calendar/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpoY3N5cHVkcHd3Zmxjb3J5Zm1xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0MjIzMTMsImV4cCI6MjA4MTk5ODMxM30.rguJ34eShUCSKKBWuy8bBS7bSxuC5mCeRnXych0LGKM"
            },
            {
              "name": "x-company-id",
              "value": "={{ $('Webhook1').first().json.body.controlia.company_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"company_id\": \"{{ $('Webhook1').first().json.body.controlia.company_id }}\",\n  \"title\": \"Consulta com {{ $('Get row(s)1').first().json.nome_completo || $json.nome_completo || 'Cliente' }}\",\n  \"description\": \"Para tratar sobre {{ $('Get row(s)1').first().json.interesse || $json.interesse || 'consulta' }}\",\n  \"start_at\": \"{{ $('Get row(s)1').first().json.data_agendamento || $json.data_agendamento }}\",\n  \"end_at\": \"{{ ($('Get row(s)1').first().json.data_agendamento || $json.data_agendamento) ? DateTime.fromISO($('Get row(s)1').first().json.data_agendamento || $json.data_agendamento).plus({ hours: 1 }).toUTC().toISO() : DateTime.now().setZone('America/Sao_Paulo').plus({ hours: 1 }).toUTC().toISO() }}\",\n  \"is_all_day\": false,\n  \"location\": \"Clínica\",\n  \"contact_id\": \"{{ $('Webhook1').first().json.body.controlia.contact_id }}\",\n  \"visibility\": \"company\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        4256,
        352
      ],
      "id": "67ec8c78-2422-4551-806c-b12481cfd1d3",
      "name": "Cria Evento"
    },
    {
      "parameters": {
        "toolDescription": "Exclui um evento do calendário.\nIMPORTANTE: \n1. Você precisa do ID do evento (agendamento_id) que está armazenado na DataTable.\n2. Sempre confirme com o usuário antes de excluir um agendamento.\n3. Após excluir, atualize a DataTable removendo o agendamento_id (defina como vazio ou null).",
        "method": "DELETE",
        "url": "=https://controliaa.vercel.app/api/calendar/events/{{ $('Get row(s)1').first().json.agendamento_id || $('AtualizaVariaveisExtrator').first().json.agendamento_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpoY3N5cHVkcHd3Zmxjb3J5Zm1xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0MjIzMTMsImV4cCI6MjA4MTk5ODMxM30.rguJ34eShUCSKKBWuy8bBS7bSxuC5mCeRnXych0LGKM"
            },
            {
              "name": "x-company-id",
              "value": "={{ $('Webhook1').first().json.body.controlia.company_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        4544,
        352
      ],
      "id": "ed9be585-566f-47f4-8942-f378ff27e835",
      "name": "Exclui Eventos"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').first().json.body.message.text }}",
        "options": {
          "systemMessage": "={{ $('Concatenador #IA de Atendimento e Triagem').first().json.content_prompt_concatenado }}\n\n# CONTEXTO ATUAL (REAL-TIME)\n- Data/Hora Agora: {{ $now.setZone('America/Sao_Paulo').setLocale('pt-BR').toFormat(\"cccc, dd 'de' MMMM 'de' yyyy, HH:mm\") }}\n- Fuso Horário da Empresa: América/São Paulo (UTC-3).\n\n# STATUS DA TRIAGEM (MEMÓRIA)\nAnalise o que já sabemos sobre o contato atual:\n- Nome: {{ $('Get row(s)').first().json.nome_completo || \"Não informado\" }}\n- Interesse (O que busca): {{ $('Get row(s)').first().json.interesse || \"Não informado\" }}\n- Contexto do Projeto (Já tem sistema ou é novo?): {{ $('Get row(s)').first().json.historico_tratamento || \"Não informado\" }}\n- Data da Reunião: {{ $('Get row(s)').first().json.data_agendamento || \"Não agendado\" }}\n- ID do Agendamento (Sistema): {{ $('Get row(s)').first().json.agendamento_id || \"null\" }}\n\nContexto da Conversa:\n\nData/Hora Atual da conversa: {{ $now.setZone('America/Sao_Paulo').setLocale('pt-BR').toFormat('cccc') }}, {{ $now.setZone('America/Sao_Paulo').setLocale('pt-BR').toFormat(\"dd 'de' LLLL 'de' yyyy HH:mm'hrs'\") }}\n\nIdentifique o gênero através do nome: {{ $('Webhook').first().json.body.message.from.first_name }}. De acordo com esse nome utilize artigos e pronomes adequados (Ex: \"Seja bem-vindo, Sr.\" ou \"Seja bem-vinda, Sra.\").\n\nÚltima interação:\n\nA última pergunta do usuário foi: {{ $('Get row(s)').first().json.ultima_pergunta_contato || \"Nenhuma\" }}.\nSua última resposta foi: {{ $('Get row(s)').first().json.ultima_resposta_ia || \"Nenhuma\" }}."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4560,
        144
      ],
      "id": "122db297-5330-4df8-8583-53c4b5bcddef",
      "name": "AI Agent - Respostas"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1-0528:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3456,
        352
      ],
      "id": "25e0b4c6-dc98-4948-a763-eb9877db0b19",
      "name": "OpenRouter Chat Model",
      "executeOnce": true,
      "credentials": {
        "openRouterApi": {
          "id": "oCEAbSfV7X4LHYED",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistralai/devstral-2512:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3776,
        352
      ],
      "id": "7795298c-7be3-41ed-ae8e-0f86d097dfe6",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "oCEAbSfV7X4LHYED",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini-2025-04-16",
          "mode": "list",
          "cachedResultName": "o4-mini-2025-04-16"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3296,
        352
      ],
      "id": "d9011125-ba56-443b-b63b-207311e202ea",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KKcz58kOwzIUk1WI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano-2025-04-14"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3616,
        352
      ],
      "id": "169d3157-65e4-454c-85f8-90194e37a5d4",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "KKcz58kOwzIUk1WI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        4848,
        352
      ],
      "id": "20224042-77e6-44ec-b97d-b716c7ecc0cb",
      "name": "Embeddings OpenAI1",
      "rewireOutputLogTo": "ai_tool",
      "credentials": {
        "openAiApi": {
          "id": "KKcz58kOwzIUk1WI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "tableName": {
          "__rl": true,
          "value": "files",
          "mode": "list",
          "cachedResultName": "files"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        4992,
        336
      ],
      "id": "fd6c6537-a5ac-41bb-9308-1d846953a3f7",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "MJeuWnGfcHw2J9Ll",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Define:Mensagem e Session_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tabela de Preços": {
      "ai_tool": [
        []
      ]
    },
    "Criar/atualizar sessionId": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "#Prompt IA de Atendimento e Triagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AtualizaVariaveisExtrator": {
      "main": [
        [
          {
            "node": "AI Agent - Respostas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AtualizaPerguntaResposta": {
      "main": [
        [
          {
            "node": "Prepare Response Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data table Update": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Respostas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "AtualizaPerguntaResposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Respostas",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "AtualizaVariaveisExtrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define:Mensagem e Session_id": {
      "main": [
        [
          {
            "node": "Criar/atualizar sessionId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "#Prompt IA de Atendimento e Triagem": {
      "main": [
        [
          {
            "node": "Concatenador #IA de Atendimento e Triagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatenador #IA de Atendimento e Triagem": {
      "main": [
        [
          {
            "node": "#Prompt Extração de Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "#Prompt Extração de Dados": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response Data": {
      "main": [
        [
          {
            "node": "HTTP Request (Enviar Resposta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Disponibilidades": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Respostas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Eventos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Respostas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cria Evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Respostas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Exclui Eventos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Respostas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Respostas": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Respostas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        []
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "controlia.up.railway.app",
          "user-agent": "node",
          "content-length": "1172",
          "accept": "*/*",
          "accept-encoding": "br, gzip, deflate",
          "accept-language": "*",
          "content-type": "application/json",
          "sec-fetch-mode": "cors",
          "x-forwarded-for": "100.31.189.240",
          "x-forwarded-host": "controlia.up.railway.app",
          "x-forwarded-proto": "https",
          "x-railway-edge": "railway/us-east4-eqdc4a",
          "x-railway-request-id": "E7Vc3w6zR6u5PE1tg4a9AQ",
          "x-real-ip": "100.31.189.240",
          "x-request-start": "1767122167821",
          "x-vercel-id": "fra1::fzsxx-1767122166216-30d63503cfac",
          "x-webhook-secret": "N0v4F0rg3@2025"
        },
        "params": {},
        "query": {},
        "body": {
          "update_id": 906310977,
          "message": {
            "message_id": 528,
            "from": {
              "id": 7772641515,
              "is_bot": false,
              "first_name": "Jailton",
              "last_name": "Silva",
              "language_code": "pt-br"
            },
            "chat": {
              "id": 7772641515,
              "first_name": "Jailton",
              "last_name": "Silva",
              "type": "private"
            },
            "date": 1767122166,
            "text": "verifique quais horários você tem disponíveis"
          },
          "controlia": {
            "company_id": "cae292bd-2cc7-42b9-9254-779ed011989e",
            "contact_id": "19742309-a940-45b8-8db4-fa09d872db1b",
            "conversation_id": "fdd21e73-1409-4957-b421-38389bcd554a",
            "message_id": "59bba0cb-0707-482d-818b-bbf848b5af08",
            "channel": "telegram",
            "callback_url": "https://controliaa.vercel.app/api/webhooks/n8n/channel-response",
            "contact": {
              "id": "19742309-a940-45b8-8db4-fa09d872db1b",
              "name": "Jailton Silva",
              "email": null,
              "phone": null,
              "whatsapp": null,
              "document": null,
              "status": "lead",
              "source": "telegram",
              "score": 0,
              "notes": null,
              "tags": null,
              "ai_enabled": true,
              "custom_fields": {
                "interesse": "App",
                "telegram_id": "7772641515",
                "data_agendamento": null,
                "telegram_username": null,
                "historico_tratamento": "Ideia do zero"
              },
              "created_at": "2025-12-29T19:20:18.864928+00:00",
              "updated_at": "2025-12-30T19:16:07.487321+00:00",
              "last_interaction_at": "2025-12-30T19:16:06+00:00"
            }
          }
        },
        "webhookUrl": "https://controlia.up.railway.app/webhook/webhook/7ab5d664-349d-4ad2-84f1-23da3b2df1a7/webhook",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true,
    "instanceId": "4a22749bbc8ec20e8bba632ac1dd5cfc3d01dc0f58c987349b16ee15b7554ab1"
  }
}