n8n/fluxo-n8n.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/webhook/7ab5d664-349d-4ad2-84f1-23da3b2df1a7/webhook",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2960,
        96
      ],
      "id": "94d8922a-d802-42f6-9fd2-9e492fc6f9d9",
      "name": "Webhook",
      "webhookId": "202e25de-310d-4001-bdbd-2520da68de5c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3rBaJq0jL2hLih4A",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Nessa ferramenta temos os Procedimento e Áreas de Aplicação com seus Valores e Valores de Oferta em R$ (Real)",
        "documentId": {
          "__rl": true,
          "value": {},
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1667361004,
          "mode": "list",
          "cachedResultName": "Preços Gerais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lZrtlFpEcbzVT5UfNXcs9wpP-v1YwNE5JnaLfvxA-VA/edit#gid=1667361004"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        5536,
        288
      ],
      "id": "a99ba21b-011d-4bb7-b0e4-0f105146dc1e",
      "name": "Tabela de Preços"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "PAIZPk6Yh1l2zQON",
          "mode": "list",
          "cachedResultName": "Atendimento Nova Forge",
          "cachedResultUrl": "/projects/GvKfk2Y7L7rLi2zA/datatables/PAIZPk6Yh1l2zQON"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "keyValue": "={{ $json.session_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $json.session_id }}",
            "ultima_pergunta_contato": "={{ $json.input }}"
          },
          "matchingColumns": [
            "sessionId"
          ],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "nome_completo",
              "displayName": "nome_completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "interesse",
              "displayName": "interesse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "historico_tratamento",
              "displayName": "historico_tratamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "data_agendamento",
              "displayName": "data_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "agendamento_id",
              "displayName": "agendamento_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ultima_pergunta_contato",
              "displayName": "ultima_pergunta_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ultima_resposta_ia",
              "displayName": "ultima_resposta_ia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3360,
        96
      ],
      "id": "7e594b28-794b-42b5-8f83-b9ef4f00ed5e",
      "name": "Criar/atualizar sessionId"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "PAIZPk6Yh1l2zQON",
          "mode": "list",
          "cachedResultName": "Atendimento Nova Forge",
          "cachedResultUrl": "/projects/GvKfk2Y7L7rLi2zA/datatables/PAIZPk6Yh1l2zQON"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "keyValue": "={{ $('Define:Mensagem e Session_id').first().json.session_id }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3536,
        96
      ],
      "id": "0db62fef-b993-414d-a4c2-773c33a9e6fa",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "PAIZPk6Yh1l2zQON",
          "mode": "list",
          "cachedResultName": "Atendimento Nova Forge",
          "cachedResultUrl": "/projects/GvKfk2Y7L7rLi2zA/datatables/PAIZPk6Yh1l2zQON"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "keyValue": "={{ $('Define:Mensagem e Session_id').first().json.session_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome_completo": "={{ $('Information Extractor').first().json.output.nome_completo || $('Get row(s)').first().json.nome_completo }}",
            "interesse": "={{ $('Information Extractor').first().json.output.interesse || $('Get row(s)').first().json.interesse }}",
            "historico_tratamento": "={{ $('Information Extractor').first().json.output.historico_tratamento || $('Get row(s)').first().json.historico_tratamento }}",
            "data_agendamento": "={{ $('Information Extractor').first().json.output.data_agendamento || $('Get row(s)').first().json.data_agendamento || null }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "nome_completo",
              "displayName": "nome_completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "interesse",
              "displayName": "interesse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "historico_tratamento",
              "displayName": "historico_tratamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data_agendamento",
              "displayName": "data_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "agendamento_id",
              "displayName": "agendamento_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ultima_pergunta_contato",
              "displayName": "ultima_pergunta_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ultima_resposta_ia",
              "displayName": "ultima_resposta_ia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        4624,
        96
      ],
      "id": "6bbde10a-b40f-444d-b000-6ca8e5d24b62",
      "name": "AtualizaVariaveisExtrator"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "PAIZPk6Yh1l2zQON",
          "mode": "list",
          "cachedResultName": "Atendimento Nova Forge",
          "cachedResultUrl": "/projects/GvKfk2Y7L7rLi2zA/datatables/PAIZPk6Yh1l2zQON"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "keyValue": "={{ $('Define:Mensagem e Session_id').first().json.session_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ultima_resposta_ia": "={{ $('AI Agent - Respostas').first().json.output }}",
            "ultima_pergunta_contato": "={{ $('Define:Mensagem e Session_id').first().json.input }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "nome_completo",
              "displayName": "nome_completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "interesse",
              "displayName": "interesse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "historico_tratamento",
              "displayName": "historico_tratamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "data_agendamento",
              "displayName": "data_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "agendamento_id",
              "displayName": "agendamento_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ultima_pergunta_contato",
              "displayName": "ultima_pergunta_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ultima_resposta_ia",
              "displayName": "ultima_resposta_ia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        5312,
        96
      ],
      "id": "6e365810-c787-4340-bcb1-9f6942f8f2f8",
      "name": "AtualizaPerguntaResposta"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "PAIZPk6Yh1l2zQON",
          "mode": "list",
          "cachedResultName": "Atendimento Nova Forge",
          "cachedResultUrl": "/projects/GvKfk2Y7L7rLi2zA/datatables/PAIZPk6Yh1l2zQON"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "keyValue": "={{ $('Define:Mensagem e Session_id').first().json.session_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "agendamento_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('agendamento_id', `Atualiza o campo \"agendamento_id\" com  o id obtido da criação do evento.`, 'string') }}",
            "data_agendamento": "={{ $fromAI('data_agendamento', `...`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "nome_completo",
              "displayName": "nome_completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "interesse",
              "displayName": "interesse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "historico_tratamento",
              "displayName": "historico_tratamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "data_agendamento",
              "displayName": "data_agendamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "agendamento_id",
              "displayName": "agendamento_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ultima_pergunta_contato",
              "displayName": "ultima_pergunta_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ultima_resposta_ia",
              "displayName": "ultima_resposta_ia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        4960,
        304
      ],
      "id": "fd78a940-424d-43e9-9a97-d12711b05658",
      "name": "Data table Update",
      "notesInFlow": false,
      "notes": "ESSENCIAL: Use esta ferramenta IMEDIATAMENTE após usar 'Cria Evento' para salvar o ID do agendamento. Sem isso, o sistema perderá o agendamento. Parâmetros: agendamento_id (o ID retornado pela criação) e data_agendamento."
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "PAIZPk6Yh1l2zQON",
          "mode": "list",
          "cachedResultName": "Atendimento Nova Forge",
          "cachedResultUrl": "/projects/GvKfk2Y7L7rLi2zA/datatables/PAIZPk6Yh1l2zQON"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "keyValue": "={{ $('Define:Mensagem e Session_id').first().json.session_id }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        5136,
        96
      ],
      "id": "fcb27830-7229-4569-99bc-0c3695beff35",
      "name": "Get row(s)1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "text": "=Mensagem atual do usuário: {{ $('Define:Mensagem e Session_id').first().json.input }}",
        "attributes": {
          "attributes": [
            {
              "name": "nome_completo",
              "description": "Nome completo do paciente com 2 ou mais palavras."
            },
            {
              "name": "historico_tratamento",
              "description": "Situação atual do projeto: \"Ideia do zero\", \"Sistema legado\", \"Refatoração\", \"Primeira vez contratando\"..."
            },
            {
              "name": "interesse",
              "description": "O tipo de solução tecnológica buscada (ex: App, Sistema Web, Automação, IA, Chatbot)."
            },
            {
              "name": "data_agendamento",
              "type": "date",
              "description": "Extraia datas futuras mencionadas para reunião."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "={{ $json.prompt_text }}\n\n## Dados Atuais do Contato\n\nNome do contato: {{ $('Webhook').first().json.body.message.from.first_name }}\n\n### Status atual de cada informação:\n\n- Nome Completo: {{ $('Get row(s)').first().json.nome_completo }}\n- Histórico de Tratamento: {{ $('Get row(s)').first().json.historico_tratamento }}\n- Interesse: {{ $('Get row(s)').first().json.interesse }}\n- Data de Agendamento: {{ $('Get row(s)').first().json.data_agendamento }}\n\n## Contexto da Conversa:\n\n### REFERÊNCIA TEMPORAL (IMPORTANTE):\nHoje é: {{ $now.setLocale('pt-BR').toFormat('cccc') }}, {{ $now.setZone('America/Sao_Paulo').setLocale('pt-BR').toFormat(\"dd 'de' LLLL 'de' yyyy HH:mm'hrs'\") }}\nUse esta data como base para calcular qualquer termo relativo (ex: \"amanhã\", \"segunda-feira\").\n\n- Última pergunta feita: {{ $('Get row(s)').first().json.ultima_pergunta_contato }}\n- Última resposta dada ao paciente: {{ $('Get row(s)').first().json.ultima_resposta_ia }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        4304,
        96
      ],
      "id": "e1340334-2ea0-445b-ac8f-2c2f8157a092",
      "name": "Information Extractor",
      "executeOnce": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://controliaa.vercel.app/api/webhooks/n8n/channel-response",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5728,
        96
      ],
      "id": "ad1aaecb-487b-414f-819e-8f8a859acb8d",
      "name": "HTTP Request (Enviar Resposta)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85de3930-14ce-48a5-9e78-b68ac68f9f75",
              "name": "input",
              "value": "={{ $json.body.message.text }}",
              "type": "string"
            },
            {
              "id": "cbb5e494-7253-4f18-967f-0f97ef6d3079",
              "name": "session_id",
              "value": "={{ $json.body.controlia.conversation_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3152,
        96
      ],
      "id": "73eb109c-434a-4088-b25c-3296f9785c41",
      "name": "Define:Mensagem e Session_id"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "ai_prompts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "fe5c1cb7-bc87-4922-9736-8ca6b83ae613"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3728,
        96
      ],
      "id": "0739dbc6-6d4c-4a92-8361-fd65b2a24f8b",
      "name": "#Prompt IA de Atendimento e Triagem",
      "credentials": {
        "supabaseApi": {
          "id": "MJeuWnGfcHw2J9Ll",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Defina aqui a ordem desejada dos IDs\nconst ordemDesejada = ['fe5c1cb7-bc87-4922-9736-8ca6b83ae613'];\n\nconst concatenado = ordemDesejada\n  .map(id => {\n    const item = items.find(i => i.json.id === id);\n    // CORREÇÃO AQUI: Mudamos de .content_prompt para .prompt_text\n    return item ? item.json.prompt_text : null;\n  })\n  .filter(Boolean) // remove nulos\n  .join('\\n');\n\nreturn [\n  {\n    json: {\n      content_prompt_concatenado: concatenado\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3920,
        96
      ],
      "id": "7e68dc7b-2b64-4dd3-bc37-7f4619256376",
      "name": "Concatenador #IA de Atendimento e Triagem"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "ai_prompts",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "c0827f59-1ff5-4de8-924e-4c16504a5d10"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4112,
        96
      ],
      "id": "e43cc270-e25f-4f1e-ba5a-056d4d69d8f5",
      "name": "#Prompt Extração de Dados",
      "credentials": {
        "supabaseApi": {
          "id": "MJeuWnGfcHw2J9Ll",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obter dados do webhook original\nconst webhookData = $('Webhook').first().json.body || $('Webhook').first().json;\nconst controlia = webhookData.controlia || {};\nconst message = webhookData.message || {};\n\n// Obter resposta da IA\nconst output = $('AI Agent - Respostas').first().json.output;\n\n// Obter dados da linha do DataTable\nconst rowData = $('Get row(s)1').first().json || {};\n\n// Preparar campos customizados para atualizar (só incluir se não forem null/undefined)\nconst customFields = {};\nif (rowData.interesse) customFields.interesse = rowData.interesse;\nif (rowData.historico_tratamento) customFields.historico_tratamento = rowData.historico_tratamento;\nif (rowData.data_agendamento) customFields.data_agendamento = rowData.data_agendamento;\n\n// Retornar payload completo\nreturn {\n  // Resposta da IA que será enviada ao canal (Telegram, WhatsApp, etc.)\n  output: output,\n  \n  // Dados do Controlia (obrigatórios - já vêm do webhook original)\n  controlia: {\n    company_id: controlia.company_id,\n    contact_id: controlia.contact_id,\n    conversation_id: controlia.conversation_id,\n    message_id: controlia.message_id,\n    channel: controlia.channel || 'telegram',\n    channel_id: controlia.channel_id || message.chat?.id?.toString()\n  },\n  \n  // Dados da mensagem original (opcional, mas recomendado)\n  message: {\n    from: message.from || controlia.message?.from,\n    chat: message.chat || controlia.message?.chat\n  },\n  \n  // ✅ Campos customizados para atualizar no contato (só se houver valores)\n  ...(Object.keys(customFields).length > 0 ? { custom_fields: customFields } : {})\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5520,
        96
      ],
      "id": "adbeb062-e1ee-4674-88c5-ddff8b5babdd",
      "name": "Prepare Response Data"
    },
    {
      "parameters": {
        "toolDescription": "🔍 VERIFICA HORÁRIOS DISPONÍVEIS na agenda. Use esta ferramenta:\n- SEMPRE quando o cliente perguntar sobre horários disponíveis (ex: \"quais horários você tem\", \"verifique disponibilidade\")\n- SEMPRE antes de criar um novo evento\n- A ferramenta busca automaticamente os próximos 15 dias a partir de agora\n- Retorna todos os eventos já agendados para que você possa informar horários livres ao cliente\n\n⚠️ É OBRIGATÓRIO usar esta ferramenta quando o cliente mencionar interesse em agendar ou perguntar sobre disponibilidade.",
        "url": "https://controliaa.vercel.app/api/calendar/events",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "start",
              "value": "={{ $now.setZone('America/Sao_Paulo').toUTC().toISO() }}"
            },
            {
              "name": "end",
              "value": "={{ $now.setZone('America/Sao_Paulo').plus({ hours: 360 }).toUTC().toISO() }}"
            },
            {
              "name": "status",
              "value": "scheduled"
            },
            {
              "name": "company_id",
              "value": "={{ $('Webhook').first().json.body.controlia.company_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpoY3N5cHVkcHd3Zmxjb3J5Zm1xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0MjIzMTMsImV4cCI6MjA4MTk5ODMxM30.rguJ34eShUCSKKBWuy8bBS7bSxuC5mCeRnXych0LGKM"
            },
            {
              "name": "x-company-id",
              "value": "={{ $('Webhook').first().json.body.controlia.company_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        4336,
        304
      ],
      "id": "0f9c8ea5-4b5e-477d-aead-496e402be87f",
      "name": "Busca Disponibilidades",
      "rewireOutputLogTo": "ai_tool"
    },
    {
      "parameters": {
        "toolDescription": "Atualiza um evento existente no calendário.\nIMPORTANTE: \n1. Sempre use \"Busca Disponibilidades\" ANTES de atualizar para verificar se o novo horário está disponível.\n2. Você precisa do ID do evento (agendamento_id) que está armazenado na DataTable.\n3. Você precisa ter uma nova data de agendamento (campo data_agendamento da DataTable).\n4. Se não houver agendamento_id ou data_agendamento, informe ao usuário e ofereça criar um novo evento.\n5. O evento terá duração de 1 hora a partir da nova data de início.",
        "method": "PATCH",
        "url": "=https://controliaa.vercel.app/api/calendar/events/{{ /*n8n-auto-generated-fromAI*/ $fromAI('event_id', `ID do evento que deseja atualizar. Obtenha este ID do campo agendamento_id da DataTable ou do resultado anterior de criação de evento.`, 'string') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpoY3N5cHVkcHd3Zmxjb3J5Zm1xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0MjIzMTMsImV4cCI6MjA4MTk5ODMxM30.rguJ34eShUCSKKBWuy8bBS7bSxuC5mCeRnXych0LGKM"
            },
            {
              "name": "x-company-id",
              "value": "={{ $('Webhook').first().json.body.controlia.company_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"company_id\": \"{{ $('Webhook').first().json.body.controlia.company_id }}\",\n  \"title\": \"Consulta com {{ $('Webhook').first().json.body.message.from.first_name || 'Cliente' }}\",\n  \"description\": \"Consulta atualizada via atendimento\",\n  \"start_at\": \"{{ /*n8n-auto-generated-fromAI*/ $fromAI('start_at', `Nova data e hora de início do evento no formato ISO 8601 (ex: 2026-01-15T10:00:00Z). Deve ser uma data futura.`, 'string') }}\",\n  \"end_at\": \"{{ /*n8n-auto-generated-fromAI*/ $fromAI('end_at', `Nova data e hora de término do evento no formato ISO 8601 (ex: 2026-01-15T11:00:00Z). Deve ser 1 hora após o start_at.`, 'string') }}\",\n  \"is_all_day\": false,\n  \"location\": \"Online/Telefone\",\n  \"contact_id\": \"{{ $('Webhook').first().json.body.controlia.contact_id }}\",\n  \"visibility\": \"company\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        4656,
        304
      ],
      "id": "93553126-c0d7-40b2-9f69-0c0a6f75e5b0",
      "name": "Atualiza Eventos"
    },
    {
      "parameters": {
        "toolDescription": "✅ CRIA UM NOVO AGENDAMENTO no calendário.\n\n⚠️ USE ESTA FERRAMENTA QUANDO:\n- O cliente confirmar uma data/hora para agendamento (ex: \"sim, quero\", \"confirmo\", \"está bom\", \"pode ser\")\n- Após você verificar disponibilidade e o horário estiver livre\n- O cliente mencionar diretamente uma data/hora que deseja agendar\n\n📋 FLUXO OBRIGATÓRIO:\n1. Após criar o evento com esta ferramenta\n2. Você DEVE usar imediatamente \"Data table Update\" para salvar o ID retornado\n3. Confirme com o cliente a data, hora e duração (1 hora)\n\n🔴 PARÂMETROS OBRIGATÓRIOS (VOCÊ DEVE FORNECER):\n- start_at: Data/hora de início no formato ISO 8601 (ex: 2026-01-15T10:00:00Z). Deve ser uma data FUTURA. Use a data mencionada pelo cliente ou da conversa sobre agendamento.\n- end_at: Data/hora de término no formato ISO 8601 (ex: 2026-01-15T11:00:00Z). Deve ser exatamente 1 hora após start_at.\n\n💡 IMPORTANTE: Se o cliente mencionou uma data específica, use essa data. Se mencionou apenas horário, use o dia atual ou próximo dia disponível. Sempre calcule end_at = start_at + 1 hora.",
        "method": "POST",
        "url": "https://controliaa.vercel.app/api/calendar/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpoY3N5cHVkcHd3Zmxjb3J5Zm1xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0MjIzMTMsImV4cCI6MjA4MTk5ODMxM30.rguJ34eShUCSKKBWuy8bBS7bSxuC5mCeRnXych0LGKM"
            },
            {
              "name": "x-company-id",
              "value": "={{ $('Webhook').first().json.body.controlia.company_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"company_id\": \"{{ $('Webhook').first().json.body.controlia.company_id }}\",\n  \"title\": \"Consulta com {{ $('Webhook').first().json.body.message.from.first_name || 'Cliente' }}\",\n  \"description\": \"Consulta agendada via atendimento\",\n  \"start_at\": \"{{ /*n8n-auto-generated-fromAI*/ ($fromAI('start_at', `Data e hora de início do evento no formato ISO 8601 (ex: 2026-01-15T10:00:00Z). Deve ser uma data futura no horário de São Paulo. Use a data mencionada pelo cliente ou da última resposta sobre agendamento.`, 'string') || $now.setZone('America/Sao_Paulo').plus({ hours: 1 }).toUTC().toISO()) }}\",\n  \"end_at\": \"{{ /*n8n-auto-generated-fromAI*/ ($fromAI('end_at', `Data e hora de término do evento no formato ISO 8601 (ex: 2026-01-15T11:00:00Z). Deve ser 1 hora após o start_at. Se start_at for fornecido, calcule end_at = start_at + 1 hora.`, 'string') || $now.setZone('America/Sao_Paulo').plus({ hours: 2 }).toUTC().toISO()) }}\",\n  \"is_all_day\": false,\n  \"location\": \"Online/Telefone\",\n  \"contact_id\": \"{{ $('Webhook').first().json.body.controlia.contact_id }}\",\n  \"visibility\": \"company\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        4512,
        304
      ],
      "id": "84c58842-c144-4f85-bdfd-774306f627ef",
      "name": "Cria Evento"
    },
    {
      "parameters": {
        "toolDescription": "Exclui um evento do calendário.\nIMPORTANTE: \n1. Você precisa do ID do evento (agendamento_id) que está armazenado na DataTable.\n2. Sempre confirme com o usuário antes de excluir um agendamento.\n3. Após excluir, atualize a DataTable removendo o agendamento_id (defina como vazio ou null).",
        "method": "DELETE",
        "url": "=https://controliaa.vercel.app/api/calendar/events/{{ /*n8n-auto-generated-fromAI*/ $fromAI('event_id', `ID do evento que deseja atualizar. Obtenha este ID do campo agendamento_id da DataTable ou do resultado anterior de criação de evento.`, 'string') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpoY3N5cHVkcHd3Zmxjb3J5Zm1xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0MjIzMTMsImV4cCI6MjA4MTk5ODMxM30.rguJ34eShUCSKKBWuy8bBS7bSxuC5mCeRnXych0LGKM"
            },
            {
              "name": "x-company-id",
              "value": "={{ $('Webhook').first().json.body.controlia.company_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        4800,
        304
      ],
      "id": "dbe3b440-f4cd-42cc-a726-b9774c0c05c6",
      "name": "Exclui Eventos"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').first().json.body.message.text }}",
        "options": {
          "systemMessage": "={{ $('Concatenador #IA de Atendimento e Triagem').first().json.content_prompt_concatenado }}\n\n# CONTEXTO ATUAL (REAL-TIME)\n- Data/Hora Agora: {{ $now.setZone('America/Sao_Paulo').setLocale('pt-BR').toFormat(\"cccc, dd 'de' MMMM 'de' yyyy, HH:mm\") }}\n- Fuso Horário da Empresa: América/São Paulo (UTC-3).\n\n# STATUS DA TRIAGEM (MEMÓRIA)\nAnalise o que já sabemos sobre o contato atual:\n- Nome: {{ $('Get row(s)').first().json.nome_completo || \"Não informado\" }}\n- Interesse (O que busca): {{ $('Get row(s)').first().json.interesse || \"Não informado\" }}\n- Contexto do Projeto (Já tem sistema ou é novo?): {{ $('Get row(s)').first().json.historico_tratamento || \"Não informado\" }}\n- Data da Reunião: {{ $('Get row(s)').first().json.data_agendamento || \"Não agendado\" }}\n- ID do Agendamento (Sistema): {{ $('Get row(s)').first().json.agendamento_id || \"null\" }}\n\nContexto da Conversa:\n\nData/Hora Atual da conversa: {{ $now.setZone('America/Sao_Paulo').setLocale('pt-BR').toFormat('cccc') }}, {{ $now.setZone('America/Sao_Paulo').setLocale('pt-BR').toFormat(\"dd 'de' LLLL 'de' yyyy HH:mm'hrs'\") }}\n\nIdentifique o gênero através do nome: {{ $('Webhook').first().json.body.message.from.first_name }}. De acordo com esse nome utilize artigos e pronomes adequados (Ex: \"Seja bem-vindo, Sr.\" ou \"Seja bem-vinda, Sra.\").\n\nÚltima interação:\n\nA última pergunta do usuário foi: {{ $('Get row(s)').first().json.ultima_pergunta_contato || \"Nenhuma\" }}.\nSua última resposta foi: {{ $('Get row(s)').first().json.ultima_resposta_ia || \"Nenhuma\" }}.\n\n# ⚠️ REGRAS OBRIGATÓRIAS PARA FERRAMENTAS DE AGENDAMENTO ⚠️\n\n## REGRA 1: SEMPRE USAR \"Busca Disponibilidades\" QUANDO:\n- O cliente perguntar sobre horários disponíveis (ex: \"quais horários você tem disponíveis\", \"verifique disponibilidade\", \"tem horário livre\")\n- O cliente mencionar interesse em agendar uma data/hora específica\n- ANTES de criar ou atualizar QUALQUER evento\n\n**AÇÃO OBRIGATÓRIA**: Se o cliente pedir horários disponíveis ou mencionar interesse em agendar, você DEVE usar \"Busca Disponibilidades\" IMEDIATAMENTE.\n\n## REGRA 2: SEMPRE USAR \"Cria Evento\" QUANDO:\n- O cliente confirmar uma data/hora para agendamento (ex: \"sim, quero agendar\", \"confirmo\", \"está bom\", \"pode ser nesse horário\")\n- Após você ter verificado disponibilidade e o horário estiver livre\n- O campo data_agendamento estiver preenchido na DataTable (mesmo que você precise inferir do contexto)\n\n**AÇÃO OBRIGATÓRIA**: Se o cliente confirmar uma data OU se você já verificou disponibilidade e o horário está livre, você DEVE usar \"Cria Evento\" para criar o agendamento.\n\n## REGRA 3: FLUXO OBRIGATÓRIO DE AGENDAMENTO:\n\n1. Cliente menciona interesse em agendar OU pergunta sobre horários\n   → **VOCÊ DEVE USAR \"Busca Disponibilidades\"**\n\n2. Após verificar disponibilidade:\n   - Se livre: **VOCÊ DEVE USAR \"Cria Evento\"** imediatamente\n   - Se ocupado: Informe ao cliente e sugira alternativas\n\n3. Após criar evento com sucesso:\n   → **VOCÊ DEVE USAR \"Data table Update\"** para salvar o ID do agendamento\n\n## REGRA 4: INTERPRETAÇÃO DE CONFIRMAÇÃO:\n\nConsidere como CONFIRMAÇÃO de agendamento:\n- \"Sim\", \"Confirmo\", \"Pode ser\", \"Está bom\", \"Perfeito\", \"Ótimo\"\n- \"Quero agendar para [data/hora]\"\n- \"Pode ser amanhã às 10h\"\n- Qualquer resposta positiva após você sugerir um horário\n\nQuando houver confirmação, você DEVE usar \"Cria Evento\" mesmo que precise inferir a data do contexto da conversa.\n\n## REGRA 5: NÃO PULE ETAPAS\n\nNUNCA crie um evento sem antes verificar disponibilidade (exceto em situações especiais onde o cliente já confirmou diretamente uma data específica após você ter verificado).\n\n## EXEMPLOS DE USO CORRETO:\n\n**Cenário 1 - Cliente pergunta horários:**\nCliente: \"verifique quais horários você tem disponíveis\"\n→ Você DEVE usar \"Busca Disponibilidades\" AGORA\n→ Informe os horários livres\n→ Se o cliente confirmar, use \"Cria Evento\"\n\n**Cenário 2 - Cliente menciona data específica:**\nCliente: \"quero agendar para amanhã às 10h\"\n→ Você DEVE usar \"Busca Disponibilidades\" primeiro para verificar\n→ Se livre, use \"Cria Evento\" imediatamente\n→ Use \"Data table Update\" para salvar o ID\n\n**Cenário 3 - Cliente confirma após verificação:**\nVocê: \"Tenho disponibilidade amanhã às 10h, 14h ou 16h\"\nCliente: \"Pode ser às 14h\"\n→ Você DEVE usar \"Cria Evento\" AGORA (já verificou disponibilidade anteriormente)\n→ Use \"Data table Update\" para salvar o ID\n\n## LEMBRE-SE:\n- Não espere o cliente pedir explicitamente - use as ferramentas proativamente quando apropriado\n- Se o cliente confirmar, crie o evento imediatamente\n- Sempre salve o ID do agendamento após criar"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4816,
        96
      ],
      "id": "8e2954c1-887e-4e8a-9eeb-8c0bff5fd1e0",
      "name": "AI Agent - Respostas"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.1-405b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3712,
        304
      ],
      "id": "db72daef-143f-481c-be0a-94233f5928cc",
      "name": "OpenRouter Chat Model",
      "executeOnce": true,
      "credentials": {
        "openRouterApi": {
          "id": "oCEAbSfV7X4LHYED",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistralai/devstral-2512:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4032,
        304
      ],
      "id": "44840bd5-7ff6-4f64-854a-f92f25c8f3be",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "oCEAbSfV7X4LHYED",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3552,
        304
      ],
      "id": "a5bd79c5-5fcf-484e-882e-a64283aa2e1a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KKcz58kOwzIUk1WI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3872,
        304
      ],
      "id": "96cf36f7-08ea-447d-832c-6ba59a870fef",
      "name": "OpenAI Chat Model1",
      "executeOnce": true,
      "credentials": {
        "openAiApi": {
          "id": "KKcz58kOwzIUk1WI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        5104,
        304
      ],
      "id": "61d98a80-3065-4faa-ab30-de9ce92ab265",
      "name": "Embeddings OpenAI1",
      "rewireOutputLogTo": "ai_tool",
      "credentials": {
        "openAiApi": {
          "id": "KKcz58kOwzIUk1WI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Buscar arquivos de conhecimento da empresa {{ $('Webhook').first().json.body.controlia.company_id }}",
        "tableName": {
          "__rl": true,
          "value": "files",
          "mode": "list",
          "cachedResultName": "files"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        5248,
        288
      ],
      "id": "c7af89e4-2131-4532-b6d6-bacc487d27f3",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "MJeuWnGfcHw2J9Ll",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').first().json.body.controlia.conversation_id }}_assistente",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        4192,
        304
      ],
      "id": "7fc6022a-247f-441d-955a-dfc9313f5597",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3664,
        512
      ],
      "id": "cbc71614-186e-4363-b8f2-3eaecc0b34c5",
      "name": "Google Gemini Chat Model",
      "alwaysOutputData": true,
      "credentials": {
        "googlePalmApi": {
          "id": "ZSPWkeAGgSAH48EB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3904,
        512
      ],
      "id": "ed0eaf07-4703-4551-bdd8-3fbd96bae9af",
      "name": "Google Gemini Chat Model1",
      "alwaysOutputData": true,
      "credentials": {
        "googlePalmApi": {
          "id": "ZSPWkeAGgSAH48EB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Define:Mensagem e Session_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar/atualizar sessionId": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "#Prompt IA de Atendimento e Triagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AtualizaVariaveisExtrator": {
      "main": [
        [
          {
            "node": "AI Agent - Respostas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AtualizaPerguntaResposta": {
      "main": [
        [
          {
            "node": "Prepare Response Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data table Update": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Respostas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "AtualizaPerguntaResposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "AtualizaVariaveisExtrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define:Mensagem e Session_id": {
      "main": [
        [
          {
            "node": "Criar/atualizar sessionId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "#Prompt IA de Atendimento e Triagem": {
      "main": [
        [
          {
            "node": "Concatenador #IA de Atendimento e Triagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatenador #IA de Atendimento e Triagem": {
      "main": [
        [
          {
            "node": "#Prompt Extração de Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "#Prompt Extração de Dados": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response Data": {
      "main": [
        [
          {
            "node": "HTTP Request (Enviar Resposta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Disponibilidades": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Respostas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Eventos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Respostas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cria Evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Respostas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Exclui Eventos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Respostas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Respostas": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Respostas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Respostas",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Respostas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "controlia.up.railway.app",
          "user-agent": "node",
          "content-length": "1205",
          "accept": "*/*",
          "accept-encoding": "br, gzip, deflate",
          "accept-language": "*",
          "content-type": "application/json",
          "sec-fetch-mode": "cors",
          "x-forwarded-for": "3.234.216.137",
          "x-forwarded-host": "controlia.up.railway.app",
          "x-forwarded-proto": "https",
          "x-railway-edge": "railway/us-east4-eqdc4a",
          "x-railway-request-id": "qAKzhpFKQsiaJW78g4a9AQ",
          "x-real-ip": "3.234.216.137",
          "x-request-start": "1767312190733",
          "x-vercel-id": "fra1::bh7ll-1767312187860-79fb83e76690",
          "x-webhook-secret": "N0v4F0rg3@2025"
        },
        "params": {},
        "query": {},
        "body": {
          "update_id": 906311000,
          "message": {
            "message_id": 566,
            "from": {
              "id": 7772641515,
              "is_bot": false,
              "first_name": "Jailton",
              "last_name": "Silva",
              "language_code": "pt-br"
            },
            "chat": {
              "id": 7772641515,
              "first_name": "Jailton",
              "last_name": "Silva",
              "type": "private"
            },
            "date": 1767312187,
            "text": "quais horários diponíveis tem no dia 8?"
          },
          "controlia": {
            "company_id": "cae292bd-2cc7-42b9-9254-779ed011989e",
            "contact_id": "9cd516cf-c011-4d98-92c8-3830a6c2ac83",
            "conversation_id": "53bc9d7a-8bb3-492f-8042-1f5cdb64f297",
            "message_id": "495f536d-694d-4266-818e-0cd24a2f82e7",
            "channel": "telegram",
            "callback_url": "https://controliaa.vercel.app/api/webhooks/n8n/channel-response",
            "contact": {
              "id": "9cd516cf-c011-4d98-92c8-3830a6c2ac83",
              "name": "Jailton Silva",
              "email": null,
              "phone": null,
              "whatsapp": null,
              "document": null,
              "status": "lead",
              "source": "telegram",
              "score": 0,
              "notes": null,
              "tags": null,
              "ai_enabled": true,
              "custom_fields": {
                "interesse": "Sistema Web",
                "telegram_id": "7772641515",
                "data_agendamento": "2023-12-15T00:00:00.000Z",
                "telegram_username": null,
                "historico_tratamento": "Primeira vez contratando"
              },
              "created_at": "2026-01-01T22:38:06.44661+00:00",
              "updated_at": "2026-01-02T00:03:10.234114+00:00",
              "last_interaction_at": "2026-01-02T00:03:07+00:00"
            }
          }
        },
        "webhookUrl": "https://controlia.up.railway.app/webhook/webhook/7ab5d664-349d-4ad2-84f1-23da3b2df1a7/webhook",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true,
    "instanceId": "4a22749bbc8ec20e8bba632ac1dd5cfc3d01dc0f58c987349b16ee15b7554ab1"
  }
}